.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

.formstyle{
    padding: 0 375px 0 375px;
}

.displaycondostyle, .addnewcondostyle{
    padding: 0 100px 0 100px;
}

.addnewcondostyle h1{
    text-align: center;
}

.form-control {
    margin: 10px 0 10px 0;
}

.condothumbnailstyle {
    width: 100% !important;
    height: 175px !important;
}